@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap')
layer(base);

@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

:root {
  --font-sans: "Nunito Sans", sans-serif;
  --font-body: "Atkin/son Hyperlegible", sans-serif;
  --font-mono: "Space Mono", monospace;
} 


@layer base {
  html {
    font-family: "Atkinson Hyperlegible", sans-serif;
  }
}
