---
import Link from "./navbar/Link.astro";
---

<nav class="max-w-screen full z-50 flex bg-neutral-900 px-4 text-gray-200 lg:p-0">
    <ul class="my-3 mx-auto flex max-w-4xl flex-row flex-wrap justify-start">
        <Link name="Home" redirect="#" selected />
        <Link name="About" redirect="#about-me" />
        <Link name="Socials" redirect="#socials" />
        <Link name="Projects" redirect="#projects" />
        <Link name="Tech Stack" redirect="#tech-stack" />
    </ul>
</nav>
