---
import Link from "./navbar/Link.astro";
---

<nav class="full z-50 bg-neutral-900 text-gray-200">
    <ul class="mx-auto flex max-w-4xl justify-start">
        <Link name="Home" redirect="#" selected />
        <Link name="About" redirect="#about-me" />
        <Link name="Socials" redirect="#socials" />
        <Link name="Projects" redirect="#projects" />
        <Link name="Tech Stack" redirect="#tech-stack" />
    </ul>
</nav>
