---
import Link from "./navbar/Link.astro";
---

<nav class="full z-50 flex max-w-screen bg-neutral-900 px-4 text-gray-200 lg:p-0">
    <ul class="mx-auto my-3 flex max-w-4xl flex-row flex-wrap justify-start">
        <Link name="Home" redirect="#" selected />
        <Link name="About" redirect="#about-me" />
        <Link name="Socials" redirect="#socials" />
        <Link name="Projects" redirect="#projects" />
        <Link name="Tech Stack" redirect="#tech-stack" />
    </ul>
</nav>
