---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="lg:my-1 my-2 flex lg:flex-row flex-col items-center">
    <p
        class="lg:mr-2 w-full flex lg:w-48 lg:mb-0 mb-1 flex-row items-center justify-center rounded-md border-2 border-neutral-800 bg-neutral-900 px-3 py-5 text-lg font-medium"
    >
        {title}
    </p>
    <section class="flex h-full w-full flex-row flex-wrap gap-2 rounded-md bg-neutral-800 p-3">
        <slot />
    </section>
</div>
