---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="my-2 flex flex-col items-center lg:my-1 lg:flex-row">
    <p
        class="mb-1 flex w-full flex-row items-center justify-center rounded-md border-2 border-neutral-800 bg-neutral-900 px-3 py-5 text-lg font-medium lg:mr-2 lg:mb-0 lg:w-48"
    >
        {title}
    </p>
    <section class="flex h-full w-full flex-row flex-wrap gap-2 rounded-md bg-neutral-800 p-3">
        <slot />
    </section>
</div>
